---
# ExternalTrafficPolicy Check Passed {{- include "annuums-service.checkExternalTrafficPolicyPassed" . }}
# ClusterIP Check Passed {{- include "annuums-service.checkClusterIPPassed" . }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.name }}
  namespace: {{ template "annuums-service.namespace" . }}
  {{- if .Values.annotations }}
  annotations:
    {{- toYaml .Values.annotations | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.type | default "ClusterIP" }}
  {{- if .Values.clusterIP }}
  clusterIP: {{ .Values.clusterIP }}
  {{- end }}
  {{- if .Values.internalTrafficPolicy }}
  internalTrafficPolicy: {{ .Values.internalTrafficPolicy }}
  {{- end }}
  {{- if .Values.externalTrafficPolicy }}
  externalTrafficPolicy: {{ .Values.externalTrafficPolicy }}
  {{- end }}
  sessionAffinity: {{ .Values.sessionAffinity | default "None" }}
  {{- with .Values.ports }}
  ports:
  {{- range .}}
    - name: {{ .name }}
      port: {{ .port }}
      targetPort: {{ .targetPort }}
      protocol: {{ .protocol }}
      {{- if .appProtocol }}
      appProtocol: {{ .appProtocol }}
      {{- end }}
  {{- end }}
  {{- end }}
  selector:
    {{- if .Values.selector }}
    {{- toYaml .Values.selector | nindent 4 }}
    {{- else }}
    annuums.devops/name: {{ template "annuums-service.fullname" . }}-selector
    {{- end }}
