create: true
name: pigeon-service
selector:
  annuums.devops/name: pigeon-custom-selector
annotations:
  cloud.google.com/neg: '{"exposed_ports": {"3000":{"name": "devops-default-be-test"}}}'
ports:
  - name: http
    port: 3000
    targetPort: 3000
    protocol: TCP
  - name: metric
    port: 8081
    targetPort: 8081
    protocol: TCP
    appProtocol: kubernetes.io/ws

type: "ClusterIP"
clusterIP: "172.18.0.1"
internalTrafficPolicy: Cluster
sessionAffinity: None
