fullnameOverride: pigeon
namespace: pigeon

restartPolicy: Always

terminationGracePeriodSeconds: 40

labels:
  my-label: custom-label

strategy: {}

annotations:
  argocd: hey

autoscaling:
  enabled: false
  hpa: {}
#    minReplicas: 1
#    maxReplicas: 3
#    targetCPUUtilizationPercentage: 60
#    targetMemoryUtilizationPercentage: 60
#    behavior:
#      scaleDown:
#        stabilizationWindowSeconds: 300
#        selectPolicy: Min
#        policies:
#          - type: Percent
#            value: 50
#            periodSeconds: 60
#          - type: Pods
#            value: 4
#            periodSeconds: 60
#      scaleUp:
#        stabilizationWindowSeconds: 0
#        selectPolicy: Max
#        policies:
#          - type: Percent
#            value: 100
#            periodSeconds: 60
#          - type: Pods
#            value: 4
#            periodSeconds: 60
  keda: {}
#    triggerAuthentication:
#      name: aws-sqs-ta
#      podIdentity:
#        provider: aws
#        identityOwner: workload
#    scaledObject:
#      name: sqs-worker-so
#      scaleTargetRef:
#        name: sqs-worker
#      pollingInterval: 30
#      cooldownPeriod: 300
#      minReplicaCount: 0
#      maxReplicaCount: 10
#      triggers:
#        - type: aws-sqs-queue
#          authenticationRef:
#            name: aws-sqs-ta
#          metadata:
#            awsRegion: ap-northeast-2
#            queueURL: https://sqs.ap-northeast-2.amazonaws.com/000000000000/keda-devops-test
#            queueLength: "10"
#            activationQueueLength: "10"

imagePullSecrets:
  - name: my-registry-secret
  - name: my-registry-secret-2

serviceSelector:
  annuums.devops/name: pigeon-custom-selector

targetGroupBinding:
  create: true
  port: 3000
  arn: arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-target-group/1234567890123456
  type: ip

serviceAccount:
  create: true
  exist: false
  name: pigeon-sa
  annotations:
    iam.gke.io/gcp-service-account: pigeon-sa@annuums.iam.gserviceaccount.com
    another-annotation: hello-world

hostNetwork: false

containers:
  - name: pigeon-1
    pdb:
      enabled: true
      minAvailable: 1
    lifecycle:
      preStop:
        exec:
          command:
            - "sh"
            - "-c"
            - "sleep 30"
      postStart:
        exec:
          command:
            - "sh"
    labels:
      test-label: "pigeon-1"
      test-label-another: "pigeon-another"
    annotations:
      test-annotatino-second: "pigeon-1-a"
      test-annotatino-first: "pigeon-1-b"
    image:
      repository: first-rep
      tag: 1.0.0
    args:
      - "while true; do sllep 30; done;"
    command:
      - "sh"
      - "-c"
    volumeMounts:
      - name: hostpath-volume
        mountPath: /foo
        subPath: ./foo
        readOnly: true
    resources:
      cpu: 250m
      memory: 256Mi
    ports:
      - containerPort: 5050
        protocol: TCP
  - name: pigeon-2-pdb-max-unavailable
    pdb:
      enabled: true
      maxUnavailable: 1
    lifecycle:
      preStop:
        exec:
          command:
            - "sh"
            - "-c"
            - "sleep 30"
      postStart:
        exec:
          command:
            - "sh"
    labels:
      test-label: "pigeon-1"
      test-label-another: "pigeon-another"
    annotations:
      test-annotatino-second: "pigeon-1-a"
      test-annotatino-first: "pigeon-1-b"
    image:
      repository: first-rep
      tag: 1.0.0
    args:
      - "while true; do sllep 30; done;"
    command:
      - "sh"
      - "-c"
    volumeMounts:
      - name: hostpath-volume
        mountPath: /foo
        subPath: ./foo
        readOnly: true
    resources:
      cpu: 250m
      memory: 256Mi
    ports:
      - containerPort: 5050
        hostPort: 1234
        protocol: TCP
  - name: pigeon-2-pdb-min-available
    pdb:
      enabled: true
      minAvailable: 1
    lifecycle:
      preStop:
        exec:
          command:
            - "sh"
            - "-c"
            - "sleep 30"
      postStart:
        exec:
          command:
            - "sh"
    labels:
      test-label: "pigeon-1"
      test-label-another: "pigeon-another"
    annotations:
      test-annotatino-second: "pigeon-1-a"
      test-annotatino-first: "pigeon-1-b"
    image:
      repository: first-rep
      tag: 1.0.0
    args:
      - "while true; do sllep 30; done;"
    command:
      - "sh"
      - "-c"
    volumeMounts:
      - name: hostpath-volume
        mountPath: /foo
        subPath: ./foo
        readOnly: true
    resources:
      cpu: 250m
      memory: 256Mi
    ports:
      - containerPort: 5050
        protocol: TCP

replicas: 0
revisionHistoryLimit: 3

nodeSelector:
  type: applications
  kubernetes.io/architecture: amd64

readinessProbe:
  httpGet:
    path: /
    port: http
  initialDelaySeconds: 5
  periodSeconds: 5
  failureThreshold: 2
  timeoutSeconds: 3

livenessProbe:
  tcpSocket:
    port: 8080
  initialDelaySeconds: 5
  periodSeconds: 5
  failureThreshold: 2
  timeoutSeconds: 3

volumes:
  - name: hostpath-volume
    hostPath:
      path: /host-foo
      # type: Directory | DirectoryOrCreate | File | FileOrCreate | Socket
      type: Directory
  - name: empty-volume
    emptyDir:
      sizeLimit: 500Mi
  - name: secret-volume
    secretVolume:
      secretName: secr-volume
  - name: configmap-volume
    configMapVolume:
      name: conf-volume
  - name: pvc-volume
    persistentVolumeClaim:
      name: my-pvc-ref-name

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: pink-pigeon
              operator: In
              values:
                - king
                - queen
  podAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
            - key: app
              operator: In
              values:
                - database
        topologyKey: topology.kubernetes.io/zone
        # Only Pods from a given rollout are taken into consideration when calculating pod affinity.
        # If you update the Deployment, the replacement Pods follow their own affinity rules
        # (if there are any defined in the new Pod template)
        matchLabelKeys:
          - pod-template-hash
tolerations:
  - key: my-key
    operator: Equal
    value: my-value
    effect: NoSchedule

environment:
  env:
    - name: PORT
      value: "3000"
  secret:
    - name: sec-env-name
      ref:
        name: secret-name
        key: secret-key
        optional: false
  configmap:
    - name: cm-env-name
      ref:
        name: configmap-name
        key: configmap-key
  envFrom:
    - type: configmap
      configMapRefName: special-config-name
    - type: configmap
      configMapRefName: another-config-name
    - type: secret
      secretRefName: secret-name
    - type: secret
      secretRefName: another-secret-name
